:root {
    --dark-gray: #303030;
    --purple: #6441A5;
}

* {
    color: whitesmoke;
    font-family: Calibri, sans-serif;
    user-select: none;
}

body {
    background: var(--purple);
    text-align: center;
}

input {
    background-color: var(--dark-gray);
    font-size: 12pt;
    border: 2px solid whitesmoke;
    border-radius: 4px;
}

input[type="email"] {
    padding: 4px;
    width: 300px;
}

select {
    background-color: var(--dark-gray);
    font-size: 12pt;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    padding: 4px;
}

button {
    background-color: var(--dark-gray);
    font-size: 12pt;
    border: 2px solid whitesmoke;
    border-radius: 4px;
}

.form-section-header {
    font-size: 14pt;
    font-weight: bold;
}