<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Twitch Drops Notifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}" type="text/css">
    </head>
    <body>
        <h1>Twitch Drops Notifier</h1>
        <label style="font-size: 14pt;">Enter your email to subscribe to notifications. You will be emailed whenever a new Drop Campaign is
            found for your selected
            games.</label>

        <form action="{{ url_for('update', id=user.id) }}" method="post" enctype="multipart/form-data">

            <div>

                <!-- Email -->
                <div style="margin-top: 24px;">
                    <label for="email_input" class="form-section-header">Email</label>
                    <br>
                    <label>{{ user.email }}</label>
                </div>

                <!-- Games -->
                <div style="margin-top: 24px;">
                    <label class="form-section-header">Games</label>
                    <div>
                        <table style="display: inline-table; text-align: start;">
                            {% set column_count = 3 %}
                            {% for i in range(games|length // column_count + 1) %}
                                <tr>
                                    {% for j in range(column_count) %}
                                        {% set game_index = (i * column_count) + j %}
                                        {% if game_index < games|length %}
                                            <td style="padding: 8px">
                                                {% set game = games[game_index] %}
                                                {% if  game.id in user.games %}
                                                    <input id="game_{{ game.id }}" type="checkbox" name="game_{{ game.id }}" checked>
                                                {% else %}
                                                    <input id="game_{{ game.id }}" type="checkbox" name="game_{{ game.id }}">
                                                {% endif %}
                                                <label for="game_{{ game.id }}">{{ game.displayName }}</label>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <!-- Timezone -->
                <div style="margin-top: 24px;">
                    <label for="timezone_input" class="form-section-header">Timezone</label>
                    <br>
                    <label>Drop campaign start and end times will be converted to the selected timezone for your convenience.</label>
                    <div>
                        <select id="timezone_input" name="timezone">
                            {% for timezone in timezones %}
                                {% if timezone == user.timezone %}
                                    <option value="{{ timezone }}" selected>{{ timezone }}</option>
                                {% else %}
                                    <option value="{{ timezone }}">{{ timezone }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>

            <button id="submit_button" type="submit" style="margin-top: 16px">Update</button>
        </form>

    </body>
</html>